<div class="row">

    <div class="col-sm-2"></div>

    <div class="col-sm-8">
        <form name="mentorForm">
            <div class="form-group">
                <label for="firstName">First Name:</label>
                <input id="firstName" class="form-control" type="text" name="FirstName" ng-model="item.FirstName" required />
                <span ng-show="mentorForm.FirstName.$error.required && !mentorForm.FirstName.$pristine">
                    First name is required
                </span>
            </div>
            <div class="form-group">
                <label for="lastName">Last Name:</label>
                <input id="lastName" class="form-control" type="text" name="LastName" ng-model="item.LastName" required />
                <span ng-show="mentorForm.LastName.$error.required && !mentorForm.LastName.$pristine">
                    Last name is required
                </span>
            </div>
            <div class="form-group">
                <label for="middleName">Middle Name:</label>
                <input id="middleName" class="form-control" type="text" name="MiddleName" ng-model="item.MiddleName" required />
                <span ng-show="mentorForm.MiddleName.$error.required && !mentorForm.MiddleName.$pristine">
                    Middle name is required
                </span>
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input id="email" class="form-control" type="email" name="Email" ng-model="item.Email" ng-pattern="emailValidate" required />
                <span ng-show="mentorForm.Email.$error.pattern && !mentorForm.Email.$pristine">
                    Email is required
                </span>
            </div>
            <div class="form-group">
                <label for="phone">Phone:</label>
                <input id="phone" class="form-control" type="tel" name="Phone" ng-model="item.Phone" required />
                <span ng-show="mentorForm.Phone.$error.required && !mentorForm.Phone.$pristine">
                    Phone number is required
                </span>
            </div>
            <div class="form-group">
                <label for="skill">Primary Skill:</label>
                <input id="skill" class="form-control" type="text" name="PrimarySkill" ng-model="item.PrimarySkill" required />
                <span ng-show="mentorForm.PrimarySkill.$error.required && !mentorForm.PrimarySkill.$pristine">
                    Primary skill is required
                </span>
            </div>
            <div class="form-group">
                <button type="button" ng-disabled="mentorForm.$invalid" class="btn btn-primary btn-success" ng-click="save()">Save</button>
                <button type="button" class="btn btn-primary btn-info" ng-click="back()">Cancel</button>
            </div>
        </form>
    </div>

    <div class="col-sm-2"></div>

</div>