<table class="table table-striped table-hover">
    <thead>
    <tr>
        <td>№</td>
        <td>Name</td>
        <td>Last Name</td>
        <td>Middle Name</td>
        <td ng-if="showMentor">Mentor</td>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="trainee in traineeCollection | filter: search" ng-click="showTraineeInfo(trainee)">
        <td>{{$index + 1}}</td>
        <td>{{trainee.FirstName}}</td>
        <td>{{trainee.LastName}}</td>
        <td>{{trainee.MiddleName}}</td>
        <td ng-if="showMentor">{{trainee.Mentor | fullname : false}} </td>
    </tr>
    </tbody>
</table>